
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');


html {
  font-family: 'Mitr', sans-serif;
  color: #666;
  margin: 8px;
}

a, a:hover {
  color: #6a737c;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

figure {
  margin: 0;
  padding: 8px 0 8px 0;
}

figcaption {
  font-size: .875rem;
}

figure > figcaption {
  width: 100%;
  text-align: center;
  color: #aaa;
}

strong {
  font-weight: 200;
}
