@font-face
{
    font-family: 'BaiJamjuree-Medium';
    src: local('BaiJamjuree-Medium'),url('BaiJamjuree-Medium.ttf') format('truetype');
}

p
{
    font-family: 'BaiJamjuree-Medium';
    font-size: 18px;
    font-weight: normal;
}

figcaption
{
    margin-top: 8px;
    font-family: 'BaiJamjuree-Medium';
    font-size: 12px;
    font-weight: normal;
}
